# hidev internals
/.hidev/composer.json
/.hidev/composer.lock
/.hidev/runtime
/.hidev/vendor

# local config
/.env
/hidev-local.yml

# IDE & OS files
.*.swp
.DS_Store
.buildpath
.idea
.project
.settings
Thumbs.db
nbproject

# Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# Binaries
chkipper.phar
composer.phar
ocular.phar

# composer internals
/composer.lock
/vendor
